<div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Banco <small>Lista de cadastro de banco</small></h3>
              </div>
            </div>
            
            <div class="clearfix"></div>

			 
			
            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Controle banco</h2>                    
                    <div class="clearfix"></div>
                  </div>
					 
                  <div class="x_content">
				    <div class="row">
						<button type="button" id="bntCadastrar" class="btn btn-primary  pull-left" data-toggle="modal" data-target="#myModal">Cadastrar</button>
						<button type="button" id="bntImprimir" class="btn btn-success  pull-right" data-toggle="modal" data-target="#myModalPDF">Imprimir PDF</button>
					</div>
                    <p>Abaixo esta a lista de todos bancos cadastrado no sistema</p>
					 
                    <!-- start project list -->
                    <table id="grid-banco" class="table table-striped projects">
                      <thead>
                        <tr>
                          <th>Código</th>
                          <th>Nome</th>                          
                          <th style="width: 10%">#Edit</th>
                        </tr>
                      </thead>                      
                    </table>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
</div>


<!-- start modal -->
<div id='myModal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
		<div  class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> </button>
				  <h4 class="modal-title" id='titulocadastro'>Cadastra</h4>
				</div>
			
				<div class="modal-body">	
						<div class="row">
								
							<form class="form-horizontal form-label-left" novalidate>

								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-6" for="ban_codigo">Codigo<span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="ban_codigo"  title='Codigo' class="col-md-3 col-lg-3 col-sm-3 col-xs-3"  name="ban_codigo" placeholder="Código do banco"  type="text">
									</div>										
								</div>
																		
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Nome">Nome <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <input id="ban_nome" required="required" title='' class="form-control col-md-7 col-xs-12" data-validate-length-range="60" data-validate-words="2" name="ban_nome" placeholder="Nome do banco" required="required" type="text">
									</div>
								</div>
								
							</form>		
							
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default"  data-dismiss="modal">Cancelar</button>
						  <button type="button" class="btn btn-primary" id='btn_salvar'   >Salvar</button>
						</div>
				</div>
			</div>
		</div>
</div>
<!-- fim modal -->	 


<!-- start modal pdf -->

<div id='myModalPDF' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
		<div  class="modal-dialog modal-lg">
			<div class="modal-content">
			
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> </button>
				  <h4 class="modal-title" id='titulocadastro'>Cadastra</h4>
				</div>
			
				<div class="modal-body">	
					<div class="row">
							
						<embed id='contentPDF' type="application/pdf" style='width: 100%; height: 500px'>
						
					</div>
					
					<div class="modal-footer">
					   <button type="button" class="btn btn-default"  data-dismiss="modal">fechar</button>
					</div>
					
				</div>
			</div>
		</div>
</div>
<!-- fim modal pdf -->	
			
<script type="text/javascript">
	$(document).ready(function () {
		var action='add';
		$("#btn_salvar").on("click", function (e) {
			console.log('action',action);
			
			if (action === 'edit') {
				post_banco('PUT');
			}else{
				post_banco('POST');
			}
            
        });
		
		$("#bntCadastrar").on("click", function (e) {
			action='add';
			$('#titulocadastro').html('Cadastro Banco');
			document.getElementById('ban_codigo').value = '';
			document.getElementById('ban_nome').value = '';
        });
		 
       var table =$('#grid-banco').DataTable({
            "ajax": var_http+'://'+var_servidor+'/banco?key=key_debug',
			"type": "GET",
            "dataType": "json",
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "pageLength": 15,
			"sAjaxDataProp": "",
            "columns": [
                {"data": "ban_codigo","type": "numeric", className: "visible-lg"},
                {"data": "ban_nome"},
				{"data": null,"defaultContent": "<button id='btn_edit' class='btn btn-info btn-xs'><i class='fa fa-pencil'></i> Editar </button><button id='btn_delete'  class='btn btn-danger btn-xs'><i class='fa fa-trash'></i> Excluir </button>","targets": -1},
            ],
			"order": [[ 0, 'asc' ]],
            "language": {
                "url": "js/pt_br.datatable.json"
            },
            deferRender: false
        });
 
		$('#grid-banco').on( 'click', 'button#btn_edit', function () {
			var data = table.row( $(this).parents('tr') ).data();
			
			 $('#bntCadastrar').trigger("click");
			 
			 document.getElementById('ban_codigo').value = data.ban_codigo;
			 document.getElementById('ban_nome').value = data.ban_nome;
			 
			 $('#titulocadastro').html('Alterar Cadastro');
			 action='edit';
			 console.log('Editar ',data.ban_codigo);
			
		} );
 
		$('#grid-banco').on( 'click', 'button#btn_delete', function () {
			var data = table.row( $(this).parents('tr') ).data();
			console.log('deletar ',data.ban_codigo);
			delete_banco(data.ban_codigo, data.ban_nome);
			
		} );
		
		$('#bntImprimir').click(function () {
			$.ajax({
					type: 'GET'
				   // ,url: var_http+'://'+var_servidor+'/relatorios/bancos?return=data' //Para obter o PDF		
					,url: var_http+'://'+var_servidor+'/relatorios/bancos?key=key_debug' //Para obter um Json com as informçoes do arquivo gerado				
					, beforeSend: function () {  
						$("#bntImprimir").removeClass('disabled');
					}
					, complete: function () {                  
					}
					, success: function (data) {
						console.log('result',data);
											 
						if (data.result==true) {
						  //window.open(var_http+'://'+var_servidor+'/files/'+data.filename);
						  document.getElementById('contentPDF').src=var_http+'://'+var_servidor+'/files/'+data.filename; 
						} else {
							MsngBoxErro('Erro ao salvar os dados', data.message)
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						MsngBoxErro('Erro ao enviar a solicitação', 'Erro:' + errorThrown + textStatus);
						$("#bntImprimir").removeClass('disabled');
					}
				});
		} );
		
    });		
</script>