<div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Perfil <small>Detalhe do perfil do usuário</small></h3>
              </div>
            </div>
            
            <div class="clearfix"></div>

			<!-- start modal -->
			<div id='myModal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    <div  class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							  </button>
							  <h4 class="modal-title" id='titulocadastro'>Cadastrar</h4>
							</div>
						
							<div class="modal-body">	
									<div class="row">
											
                                     <form class="form-horizontal form-label-left" novalidate>

											<div class="item form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-6" for="use_codigo">Codigo<span class="required">*</span></label>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<input id="use_codigo"  title='Codigo' class="col-md-3 col-lg-3 col-sm-3 col-xs-3"  name="use_codigo" placeholder="Código do Contato"  type="text">
												</div>	

												
											</div>
																					
											<div class="item form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Nome">Nome <span class="required">*</span></label>
												<div class="col-md-6 col-sm-6 col-xs-12">
												  <input id="use_nome" required="required" title='' class="form-control col-md-7 col-xs-12" data-validate-length-range="60" data-validate-words="2" name="use_nome" placeholder="Nome do Contato" required="required" type="text">
												</div>
											</div>
											
									 </form>		
										
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default"  data-dismiss="modal">Cancelar</button>
									  <button type="button" class="btn btn-primary" id='btn_salvar'   >Salvar</button>
									</div>
						  </div>
						</div>
					</div>
			</div>
			<!-- fim modal -->	 
			
            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  
                  <div class="x_content">
					
                    <!-- start project list -->
					
					<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
					  <div class="profile_img">
						<div id="crop-avatar">
						  <!-- Current avatar -->
						  <img id='avatar'class="img-responsive avatar-view" src="'" alt="Avatar" title="Change the avatar">
						</div>
					  </div>
					  <h3>Administrador</h3>

					  <ul class="list-unstyled user_data">

						<li>
						  <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
						</li>

						<li class="m-top-xs">
						  <i class="fa fa-external-link user-profile-icon"></i>
						  <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
						</li>
					  </ul>

  
					<div id="fileuploader">
					
					
					
					</div>

                </div>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
</div>
<script>

//Document plugin 
///http://hayageek.com/docs/jquery-upload-file.php

$(document).ready(function()
{

    document.getElementById('avatar').src=var_http+'://'+var_servidor+'/files/img.jpg';
	function getBase64Image(img) {
		var canvas = document.createElement("canvas");
		canvas.width = img.width;
		canvas.height = img.height;
		var ctx = canvas.getContext("2d");
		ctx.drawImage(img, 0, 0);
		var dataURL = canvas.toDataURL("image/jpg");
		//return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
		console.log(dataURL);
		return dataURL;
	}


	$("#fileuploader").uploadFile({
		url:var_http+'://'+var_servidor+'/fileupload?file=teste',
		multiple:false,
		fileName:"myfile",
		formData:'id={"1":500}',
		showStatusAfterSuccess:true,
		showAbort:false,
		showDone:false,
	    allowedTypes:"jpg,png,bmp",
        showDelete:true,
		showProgress:true,
		//statusBarWidth:300,
		//dragdropWidth:300,
		//dragDropStr:'Arraste e solte aqui',
		uploadStr:'Carregar',
		extErrorStr:"<br>Tipo de imagem não permitida: ",
		onSuccess:function(files,data,xhr,pd){
			var filename=var_http+'://'+var_servidor+'/files/'+files[0];
			//	$("#fileupload").remove();
			//document.getElementById('logoid').hidden=true;
			//document.getElementById('logoid').src=filename;				
			document.getElementById('avatar').src=filename;
			console.log('filename',filename);
				
			}
		 });
	
});
</script>